.teto {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fffb00;
  font-size: x-small;
  font-weight: bold;
}

.container {
  background: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background: #ffffff;
}

.overflow-hidden {
  background: #00d700;
}

.logo {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00d700;
}

.black-friday {
  align-items: center;
  text-align: center;
  color: rgb(238, 151, 20);
}

.descritivo {
  color: white;
}

.maquininha {
  margin: 10px 0px 40px 0px;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-container::part(bullet-active) {
  background-color: black;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 30%;
  height: 30%;
  object-fit: cover;
  border-radius: 10%;
}

.container-footer {
  background: #262626;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto-descritivo {
  color: black;
}

.maquininha-swiper {
  cursor: pointer;
  background: #00d700;
  margin-bottom: 1px;
  // padding-top: 15px;
}

.modal{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.insta{
  cursor: pointer;
  font-size: 2rem;
  color: #00d700;
}